pastTemperatureVisualizationFlow.json
[{"id":"9de6b43f.b76e88","type":"tab","label":"past_data_visualization_flow","disabled":false,"info":""},{"id":"3f256af2.c20746","type":"inject","z":"9de6b43f.b76e88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["4359c38b.c73ddc"]]},{"id":"531700bd.e12e","type":"function","z":"9de6b43f.b76e88","name":"calcAverageTemperature","func":"var temp_sum = 0\nvar months = 0\nvar payload = msg.payload\nvar averageTemp = 0\n\nfor(let i = 0 ; i < payload.length ; i++){\n    \n    temp_sum = temp_sum + payload[i][\"AverageTemperature\"];\n    months = months+1\n    \n}\naverageTemp = temp_sum/months;\naverageTemp = Math.round(averageTemp * 100) / 100 \n\n\nmsg.payload = {\n    \"temp\":averageTemp,\n    \"months\":months\n}\n   \n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":480,"wires":[["162c07a4.4bdc08","8862968d.5fd7f8"]]},{"id":"2ca6cd73.9e81c2","type":"function","z":"9de6b43f.b76e88","name":"calcMinAndMaxTemperature","func":"var payload = msg.payload\nvar min = 40\nvar max = 0\n\nfor(let i = 0 ; i < payload.length ; i++){\n    \n    var temp = payload[i][\"AverageTemperature\"];\n  \n    //finding the max\n    if(temp>max){\n        max = temp\n    }else{\n        max = max\n    }\n    \n    //finding min\n    if(temp<min){\n        min = temp\n    }else{\n        min = min\n    }\n    \n}\n\nmsg.payload = {\n    \"max\":max,\n    \"min\":min\n}\n   \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":600,"wires":[["86080b96.83cbf8","5deccf32.00dea"]]},{"id":"4359c38b.c73ddc","type":"ui_dropdown","z":"9de6b43f.b76e88","name":"","label":"Year Range","tooltip":"","place":"Select option","group":"c8311a27.9690a8","order":6,"width":7,"height":1,"passthru":true,"multiple":false,"options":[{"label":"1796 to 1816","value":"1796-1816","type":"str"},{"label":"1816 to 1836","value":"1816-1836","type":"str"},{"label":"1836 to 1856","value":"1836-1856","type":"str"},{"label":"1856 to 1876","value":"1856-1876","type":"str"}],"payload":"","topic":"dateRanges","topicType":"str","className":"","x":210,"y":40,"wires":[["6edcacd0.316554","853ecfb5.8c60c"]]},{"id":"86080b96.83cbf8","type":"ui_template","z":"9de6b43f.b76e88","group":"c8311a27.9690a8","name":"mintemp","order":1,"width":7,"height":3,"format":"<head>\n     <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">\n    <style>\n\n      body{\n          font-family: 'PT Sans', sans-serif;\n        }\n        \n        .text-white-secondary{\n            color: hsla(0, 0%, 100%, 0.7)\n        }\n        \n        .font-main{\n            font-size: 18px;\n        }\n        .font-important-stat{\n            font-size: 40px;\n            font-weight: 700;\n        }\n        .font-secondary{\n            font-size:16px;\n        }\n        \n        .bg-gray{\n          background-color: #f5f5fB;\n        }\n        \n        .decoration-none{\n          text-decoration: none !important;\n        }\n        \n        .bg-gr-purple{\n            background: #8E2DE2;  /* fallback for old browsers */\n            background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */\n            background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */\n        }\n        \n        .bg-gr-blue{\n            background: #0052D4;  /* fallback for old browsers */\n            background: -webkit-linear-gradient(to left, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */\n            background: linear-gradient(to left, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */\n        }\n        \n        .bg-gr-green{\n        background: #00b09b;  /* fallback for old browsers */\n        background: -webkit-linear-gradient(to left, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */\n        background: linear-gradient(to left, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */\n        \n        }\n        .bg-gr-red{\n        background: #ED213A;  /* fallback for old browsers */\n        background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */\n        background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */\n        \n        }\n        .post-card{\n            box-shadow: none;\n        }\n        .post-card:hover{\n            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);\n        }\n        \n        #textStyle {\n            background-color : transparent;\n        }\n\n    </style>\n\n</head>\n\n<body>\n     \n     \n              <div class=\"card-body text-white-secondary bg-gr-purple\">\n                  <font class=\"card-title font-main mb-0\">Minimum Temperature</font>\n                  <font class=\"font-important-stat text-white mb-0\" \n                  ng-bind-html=\"msg.payload.min\">\n    \n                  </font>\n                  <font class=\"text-white-secondary mb-0\">celcius</font>\n           \n       \n</div>\n\n</body>\n\n\n\n\n \n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":880,"y":680,"wires":[[]]},{"id":"5deccf32.00dea","type":"ui_template","z":"9de6b43f.b76e88","group":"c8311a27.9690a8","name":"maxTemp","order":3,"width":7,"height":3,"format":"<head>\n     <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">\n    <style>\n\n      body{\n          font-family: 'PT Sans', sans-serif;\n        }\n        \n        .text-white-secondary{\n            color: hsla(0, 0%, 100%, 0.7)\n        }\n        \n        .font-main{\n            font-size: 18px;\n        }\n        .font-important-stat{\n            font-size: 40px;\n            font-weight: 700;\n        }\n        .font-secondary{\n            font-size:16px;\n        }\n        \n        .bg-gray{\n          background-color: #f5f5fB;\n        }\n        \n        .decoration-none{\n          text-decoration: none !important;\n        }\n        \n        .bg-gr-purple{\n            background: #8E2DE2;  /* fallback for old browsers */\n            background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */\n            background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */\n        }\n        \n        .bg-gr-blue{\n            background: #0052D4;  /* fallback for old browsers */\n            background: -webkit-linear-gradient(to left, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */\n            background: linear-gradient(to left, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */\n        }\n        \n        .bg-gr-green{\n        background: #00b09b;  /* fallback for old browsers */\n        background: -webkit-linear-gradient(to left, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */\n        background: linear-gradient(to left, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */\n        \n        }\n        .bg-gr-red{\n        background: #ED213A;  /* fallback for old browsers */\n        background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */\n        background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */\n        \n        }\n        .post-card{\n            box-shadow: none;\n        }\n        .post-card:hover{\n            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);\n        }\n        \n        #textStyle {\n            background-color : transparent;\n        }\n\n    </style>\n\n</head>\n\n<body>\n     \n\n              <div class=\"card-body text-white-secondary bg-gr-blue\">\n                  <font class=\"card-title font-main mb-0\">Maximun Temperature</font>\n                  <font \n                  ng-bind-html=\"msg.payload.max\"\n                  class=\"font-important-stat text-white mb-0\">\n                 \n                  </font>\n                  <font class=\"text-white-secondary mb-0\">Celcius</font>\n              </div>\n\n\n\n</body>\n\n\n\n\n \n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":880,"y":620,"wires":[[]]},{"id":"162c07a4.4bdc08","type":"ui_template","z":"9de6b43f.b76e88","group":"c8311a27.9690a8","name":"totalobservations","order":2,"width":7,"height":3,"format":"<head>\n     <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">\n    <style>\n\n      body{\n          font-family: 'PT Sans', sans-serif;\n        }\n        \n        .text-white-secondary{\n            color: hsla(0, 0%, 100%, 0.7)\n        }\n        \n        .font-main{\n            font-size: 18px;\n        }\n        .font-important-stat{\n            font-size: 40px;\n            font-weight: 700;\n        }\n        .font-secondary{\n            font-size:16px;\n        }\n        \n        .bg-gray{\n          background-color: #f5f5fB;\n        }\n        \n        .decoration-none{\n          text-decoration: none !important;\n        }\n        \n        .bg-gr-purple{\n            background: #8E2DE2;  /* fallback for old browsers */\n            background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */\n            background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */\n        }\n        \n        .bg-gr-blue{\n            background: #0052D4;  /* fallback for old browsers */\n            background: -webkit-linear-gradient(to left, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */\n            background: linear-gradient(to left, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */\n        }\n        \n        .bg-gr-green{\n        background: #00b09b;  /* fallback for old browsers */\n        background: -webkit-linear-gradient(to left, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */\n        background: linear-gradient(to left, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */\n        \n        }\n        .bg-gr-red{\n        background: #ED213A;  /* fallback for old browsers */\n        background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */\n        background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */\n        \n        }\n        .post-card{\n            box-shadow: none;\n        }\n        .post-card:hover{\n            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);\n        }\n        \n        #textStyle {\n            background-color : transparent;\n        }\n\n    </style>\n\n</head>\n\n<body>\n   \n\n              <div class=\"card-body text-white-secondary bg-gr-green\">\n                  <font class=\"card-title font-main mb-0\">Total Temperature Readings</font>\n                       <font \n                  ng-bind-html=\"msg.payload.months\"\n                  class=\"font-important-stat text-white mb-0\"></font>\n                  <font class=\"text-white-secondary mb-0\">Months</font>\n              </div>\n\n\n</body>\n\n\n \n\n\n \n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":910,"y":560,"wires":[[]]},{"id":"8862968d.5fd7f8","type":"ui_template","z":"9de6b43f.b76e88","group":"c8311a27.9690a8","name":"averageTemp","order":4,"width":7,"height":3,"format":"<head>\n     <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">\n    <style>\n\n      body{\n          font-family: 'PT Sans', sans-serif;\n        }\n        \n        .text-white-secondary{\n            color: hsla(0, 0%, 100%, 0.7)\n        }\n        \n        .font-main{\n            font-size: 18px;\n        }\n        .font-important-stat{\n            font-size: 40px;\n            font-weight: 700;\n        }\n        .font-secondary{\n            font-size:16px;\n        }\n        \n        .bg-gray{\n          background-color: #f5f5fB;\n        }\n        \n        .decoration-none{\n          text-decoration: none !important;\n        }\n        \n        .bg-gr-purple{\n            background: #8E2DE2;  /* fallback for old browsers */\n            background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */\n            background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */\n        }\n        \n        .bg-gr-blue{\n            background: #0052D4;  /* fallback for old browsers */\n            background: -webkit-linear-gradient(to left, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */\n            background: linear-gradient(to left, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */\n        }\n        \n        .bg-gr-green{\n        background: #00b09b;  /* fallback for old browsers */\n        background: -webkit-linear-gradient(to left, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */\n        background: linear-gradient(to left, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */\n        \n        }\n        .bg-gr-red{\n        background: #ED213A;  /* fallback for old browsers */\n        background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */\n        background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */\n        \n        }\n        .post-card{\n            box-shadow: none;\n        }\n        .post-card:hover{\n            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);\n        }\n        \n        #textStyle {\n            background-color : transparent;\n        }\n\n    </style>\n\n</head>\n\n<body>\n      \n\n              <div class=\"card-body text-white-secondary bg-gr-red\">\n                  <font class=\"card-title font-main mb-0\">Average temperature</font>\n                <font \n                  ng-bind-html=\"msg.payload.temp\"\n                  class=\"font-important-stat text-white mb-0\"></font>\n                  \n                  <font class=\"text-white-secondary mb-0\">Celcius</font>\n              </div>\n\n  \n\n</body>\n\n \n\n\n \n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":900,"y":480,"wires":[[]]},{"id":"6edcacd0.316554","type":"function","z":"9de6b43f.b76e88","name":"","func":"var payload = msg.payload\nvar start = parseInt(payload.split(\"-\")[0])\nvar end = parseInt(payload.split(\"-\")[1])\n\nmsg.payload  = {\n    \"_msgid\":0,\n    \"start\":start,\n    \"end\":end\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":260,"wires":[["91b4a05c.48cc3"]]},{"id":"853ecfb5.8c60c","type":"file in","z":"9de6b43f.b76e88","name":"","filename":"/home/pi/tempData.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":160,"y":360,"wires":[["4dad1623.2cdea8"]]},{"id":"2654046c.2d08ec","type":"debug","z":"9de6b43f.b76e88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":260,"wires":[]},{"id":"4dad1623.2cdea8","type":"csv","z":"9de6b43f.b76e88","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":true,"x":370,"y":360,"wires":[["91b4a05c.48cc3","531700bd.e12e","2ca6cd73.9e81c2"]]},{"id":"91b4a05c.48cc3","type":"join","z":"9de6b43f.b76e88","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":260,"wires":[["2654046c.2d08ec","14b98b7f.8a61a5"]]},{"id":"14b98b7f.8a61a5","type":"function","z":"9de6b43f.b76e88","name":"prepareGraph","func":"//generate chart\nvar payload = msg.payload[1]\nvar a1 = []; //this will be an array of data\nvar a2 = []; //this will be an array of labels\n\nvar startyear = msg.payload[0].start  || 1796\nvar endYear =  msg.payload[0].end  || 2013\n\n\nfor(let i = 0 ; i < payload.length ; i++){\n    var date = payload[i][\"Month\"]\n    \n    var year = parseInt(date.split(\"-\")[0])\n    \n \n    if(year>=startyear && year<=endYear){\n            \n        a2.push(date)\n        a1.push(payload[i][\"AverageTemperature\"]);\n    }\n    \n}\n\nmsg.payload = [{\n    \"series\" : [\"TemperatureData\"],\n    \"data\": [a1],\n    \"labels\": a2\n    \n}];\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":360,"wires":[["8b90d19f.ff336","6d20087f.010e28"]]},{"id":"8b90d19f.ff336","type":"ui_chart","z":"9de6b43f.b76e88","name":"Temperature Data - Past","group":"c8311a27.9690a8","order":7,"width":21,"height":7,"label":"Past Temperature Range","chartType":"line","legend":"true","xformat":"Y-M-D","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"35","removeOlder":"1000","removeOlderPoints":"2510","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#6b70ff","#aec7e8","#ff7f0e","#0a990a","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":970,"y":400,"wires":[[]]},{"id":"bfee4e79.22604","type":"debug","z":"9de6b43f.b76e88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":260,"wires":[]},{"id":"6d20087f.010e28","type":"function","z":"9de6b43f.b76e88","name":"calcSummmaryData","func":"var payload = msg.payload[0].data[0]\nvar temp_sum = 0\nvar months = 0\nvar averageTemp = 0\n\nvar min = 40\nvar max = 0\n\nfor(let i = 0 ; i < payload.length ; i++){\n    \n    var temp = payload[i]\n    temp_sum = temp_sum + temp\n    months = months+1\n    \n      //finding the max\n    if(temp>max){\n        max = temp\n    }else{\n        max = max\n    }\n    \n    //finding min\n    if(temp<min){\n        min = temp\n    }else{\n        min = min\n    }\n    \n    \n}\naverageTemp = temp_sum/months;\naverageTemp = Math.round(averageTemp * 100) / 100 \n\nmsg.payload = {\n    \"aveageTemp\":averageTemp,\n    \"total\":months,\n    \"min\":min,\n    \"max\":max\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":280,"wires":[["bfee4e79.22604","91b6e132.f1de7","342272da.d7adee","f672c6f9.fff348","e1501fcc.7e4fa"]]},{"id":"91b6e132.f1de7","type":"ui_template","z":"9de6b43f.b76e88","group":"c8311a27.9690a8","name":"rangeTempAverage","order":9,"width":7,"height":1,"format":"<head>\n     <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">\n    <style>\n        \n      #textStyle:{\n          font-size : 29px;\n          color : white;\n      }\n\n    </style>\n\n</head>\n\n<body>\n     \n    \n           <span class=\"btn btn-primary\" > Average Temp- {{msg.payload.aveageTemp}} \n                  \n           </span>\n\n</body>\n\n\n\n\n \n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1290,"y":340,"wires":[[]]},{"id":"342272da.d7adee","type":"ui_template","z":"9de6b43f.b76e88","group":"c8311a27.9690a8","name":"rangeTempobservations","order":10,"width":7,"height":1,"format":"<head>\n     <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">\n    <style>\n        \n      #textStyle:{\n          font-size : 29px;\n          color : white;\n      }\n\n    </style>\n\n</head>\n\n<body>\n     \n    \n           <span class=\"btn btn-success\" > Total Observations - {{msg.payload.total}} \n                  \n           </span>\n\n</body>\n\n\n\n\n \n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1310,"y":380,"wires":[[]]},{"id":"f672c6f9.fff348","type":"ui_template","z":"9de6b43f.b76e88","group":"c8311a27.9690a8","name":"rangeTemMin","order":11,"width":7,"height":1,"format":"<head>\n     <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">\n    <style>\n        \n      #textStyle:{\n          font-size : 29px;\n          color : white;\n      }\n\n    </style>\n\n</head>\n\n<body>\n     \n    \n           <span class=\"btn btn-warning\" > Minimum Temperature - {{msg.payload.min}} \n                  \n           </span>\n\n</body>\n\n\n\n\n \n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1280,"y":420,"wires":[[]]},{"id":"e1501fcc.7e4fa","type":"ui_template","z":"9de6b43f.b76e88","group":"c8311a27.9690a8","name":"rangeTemMax","order":12,"width":7,"height":1,"format":"<head>\n     <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">\n    <style>\n        \n      #textStyle:{\n          font-size : 29px;\n          color : white;\n      }\n\n    </style>\n\n</head>\n\n<body>\n     \n    \n           <span class=\"btn btn-danger\" > MAximum Temperature - {{msg.payload.max}} \n                  \n           </span>\n\n</body>\n\n\n\n\n \n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1280,"y":460,"wires":[[]]},{"id":"c8311a27.9690a8","type":"ui_group","name":"Quick Summary of the Past Data","tab":"7689b51f.aa09cc","order":1,"disp":true,"width":"28","collapse":false,"className":""},{"id":"7689b51f.aa09cc","type":"ui_tab","name":"Temperature Dashboard","icon":"dashboard","disabled":false,"hidden":false}]